name: astropy_rc_basic

on:
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

# These only prove that basic test suite in Linux works.
# It is up to the individual packages to do detailed testing with astropy RC.
jobs:
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      submodules: false
      envs: |
        - linux: py311-asdf_astropy
        - linux: py311-astropy_healpix
        - linux: py311-astroquery
        - linux: py311-ccdproc
        - linux: py311-photutils
        - linux: py311-regions
        - linux: py311-reproject
        - linux: py311-specreduce
        - linux: py311-specutils
        - linux: py311-sunpy
